<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "/styles/home.css">
    <title>User - <%= username %></title>
    <style>
.logout
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: black;
    border-width: 3px;
}
.logout:hover
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: red;
    border-width: 3px;
}
    </style>
</head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
     <!--https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyDV0EfJ2DtxAKVG2Pb3ZeMzNQ0NiNpuvZQ",
        authDomain: "benji-s-webserver-database.firebaseapp.com",
        projectId: "benji-s-webserver-database",
        storageBucket: "benji-s-webserver-database.appspot.com",
        messagingSenderId: "521414194806",
        appId: "1:521414194806:web:6530d3b3b96909412f1157",
        measurementId: "G-K2BKVM8YED"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
        <h1 class="Headline"><%= username %> - Home</h1>

        <p>Hello, <%= nickname %>!</p>
        <button onClick="location.href = '/'">Home</button>
        <button onClick="location.href = '/blackjack'">Blackjack</button>
        <h2>Account Details</h2>
        <p>Nickname -> <%= nickname %></p>
        <p>Username -> <%= username %></p>
        <p>Account Balance -> <%= balance %> Benjcoins</p>
        <p>Access -> <%= access %> </p>
        <form action="" method="POST">
            <input class="logout" type="submit" value="Logout">
        </form>
    </body>
</html>
